@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
  }
  
  body {
    color: white;
    width: 100dvw;
    overflow-x: hidden;
    height: 100%;
    background: black;
    border-color: #3b3b3b;
    user-select: none;
  }

.screen-max-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width: 1120px;
  }

.blueClass {
  /*background-image: linear-gradient(to right, #3090ff, #5749f6);
  background-clip: text;*/
  color: white;
  @apply absolute md:top-2 md:left-16 lg:left-4 xl:left-24 2xl:left-48 z-20 drop-shadow-lg p-4
}

.redClass {
  /*background-image: linear-gradient(to right, #ff54a4, #e41274);
  background-clip: text;*/
  color: white;
  @apply absolute md:top-2 md:right-40 lg:right-28 xl:right-48 2xl:right-72 z-20 drop-shadow-lg p-4
}

.yellowClass {
  /*background-image: linear-gradient(to right, #FFB000, #FFEF00);
  background-clip: text;*/
  color: white;
  @apply absolute md:top-2 md:left-16 lg:left-4 xl:left-24 2xl:left-48 z-20 drop-shadow-lg p-4
}

.personblock {
  color: #6b6b6b;
  transition-duration: 0.2s;
  @apply flex justify-start px-4 relative overflow-hidden items-start 2xl:w-[180px] 2xl:h-[65px] md:w-[150px] md:h-[80px] rounded-2xl bg-zinc-800 cursor-pointer border-solid border-2 border-zinc-600
}

.personblock.active {
  color: #fff;
  background-image: radial-gradient(#3706a8, #7c0aff);
  filter: drop-shadow(0px 0px 10px #680aff);
  -webkit-filter: drop-shadow(0px 0px 10px #680aff);
  border: solid 2px rgba(255, 255, 255, 0.33);
}

.personblock.active2 {
  color: #fff;
  background-image: radial-gradient(#3706a8, #7c0aff);
  filter: drop-shadow(0px 0px 10px #680aff);
  -webkit-filter: drop-shadow(0px 0px 10px #680aff);
  border: solid 2px rgba(255, 255, 255, 0.33);
}

.person-selector::-webkit-scrollbar{
  display: none;
}

::-webkit-scrollbar{
display: none;
}

#selector_people {
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.bg_image_blue {
  background-image: url('../assets/images/interior1v2WEBP.webp');
  background-size: cover;
  background-blend-mode: darken;
  backdrop-filter: blur(80px);
  @apply flex items-center flex-col justify-center w-screen min-h-screen h-fit 
}

.bg_image_red {
  background-image: url('../assets/images/interior1v2WEBP.webp');
  background-size: cover;
  background-blend-mode: darken;
  @apply flex items-center flex-col justify-center w-screen min-h-screen h-fit 
}

.bg_image_yellow {
  background-image: url('../assets/images/interior1v2WEBP.webp');
  background-size: cover;
  background-blend-mode: darken;
  @apply flex items-center flex-col justify-center w-screen min-h-screen h-fit 
}

.blue_first_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
@apply flex items-center justify-center sm:top-48 sm:left-12 md:top-48 md:left-12 lg:top-48 lg:left-4 2xl:top-48 2xl:left-28 absolute w-[150px] h-[50px] bg-blue-800 rounded-2xl p-2
}

.blue_second_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
@apply flex gap-1 items-center justify-center w-[230px] h-[70px] bg-white rounded-2xl p-2
}

.blue_second_message_cont {
  @apply sm:bottom-56 sm:left-24 md:bottom-56 md:left-32 lg:bottom-56 lg:left-24 2xl:bottom-56 2xl:left-72 absolute w-[230px] h-[70px] z-40 hidden sm:inline-block
}

.blue_third_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
@apply flex items-center justify-center sm:bottom-32 sm:right-10 md:bottom-32 md:right-10 lg:bottom-32 lg:right-4 2xl:bottom-32 2xl:right-32 absolute w-[150px] h-[50px] bg-white rounded-2xl  p-2
}

.red_first_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center sm:top-64 sm:right-2 md:top-64 md:right-6 lg:top-56 lg:right-2 2xl:top-64 2xl:right-36 absolute w-[150px] h-[50px] bg-red-400 rounded-2xl  p-2
}

.red_second_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center w-[230px] h-[70px] rounded-2xl bg-white p-2 z-40
}

.red_second_message_cont {
  @apply sm:bottom-40 sm:right-8 md:bottom-40 md:right-8 lg:bottom-40 lg:right-2 2xl:bottom-40 2xl:right-8 absolute w-[230px] h-[70px] z-40 hidden sm:inline-block
}

.red_third_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center sm:bottom-64 sm:left-12 md:bottom-64 md:left-28 lg:bottom-64 lg:left-28 2xl:bottom-44 2xl:left-36 absolute w-[150px] h-[50px] bg-white rounded-2xl p-2
}

.yellow_first_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center sm:bottom-20 sm:left-[20rem] md:bottom-28 md:left-[12rem] lg:bottom-28 lg:left-[12rem] 2xl:bottom-24 2xl:left-[18rem] absolute w-[150px] h-[50px] bg-green-600 rounded-2xl p-2
}

.yellow_second_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center w-[230px] h-[70px] bg-white rounded-2xl p-2 z-40 
}

.yellow_second_message_cont {
  @apply sm:bottom-56 sm:left-4 md:bottom-72 md:left-6 lg:bottom-72 lg:left-2 2xl:bottom-72 2xl:left-24 absolute w-[230px] h-[70px] z-40 hidden sm:inline-block
}

.yellow_third_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center sm:top-48 sm:left-12 md:top-48 md:left-12 lg:top-48 lg:left-0 2xl:top-48 2xl:left-24 absolute w-[150px] h-[50px] bg-white rounded-2xl p-2
}

.blue_small_image {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
 @apply absolute md:flex hidden md:top-8 md:right-2 lg:top-8 lg:-right-8 xl:top-8 xl:right-0 2xl:top-16 2xl:right-12 md:w-[154px] md:h-[200px] lg:w-[200px] lg:h-[230px] 2xl:w-[230px] 2xl:h-[300px] rounded-2xl items-end z-30
}

.red_small_image {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply absolute md:flex hidden md:top-8 md:left-2 lg:top-8 lg:-left-6 xl:top-8 xl:left-0 2xl:top-16 2xl:left-6 md:w-[154px] md:h-[200px] lg:w-[200px] lg:h-[230px] 2xl:w-[230px] 2xl:h-[300px] rounded-2xl items-end z-30
 }

 .yellow_small_image {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply absolute md:flex hidden md:bottom-40 md:right-6 lg:bottom-36 lg:-right-8 xl:bottom-36 xl:right-0 2xl:bottom-36 2xl:right-8 md:w-[154px] md:h-[200px] lg:w-[200px] lg:h-[230px] 2xl:w-[230px] 2xl:h-[300px] rounded-2xl items-end z-30
 }

 #big_picture {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
 }

 #instagram_image{
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
 }

 .opacity_low {
  @apply object-contain max-w-full opacity-50
 }

 .opacity_high {
  @apply object-contain max-w-full opacity-100
 }

 .icon_blue {
  filter: drop-shadow(5px 5px 5px #0000008b);
  -webkit-filter: drop-shadow(5px 5px 5px #0000008b);
  @apply absolute -bottom-8 -right-8 h-[50px] w-[50px] rounded-2xl bg-blue-800 flex justify-center items-center
 }

 .icon_red {
  filter: drop-shadow(5px 5px 5px #0000008b);
  -webkit-filter: drop-shadow(5px 5px 5px #0000008b);
  @apply absolute -bottom-8 -left-8 h-[50px] w-[50px] rounded-2xl bg-red-400 flex justify-center items-center
 }

 .icon_yellow {
  filter: drop-shadow(5px 5px 5px #0000008b);
  -webkit-filter: drop-shadow(5px 5px 5px #0000008b);
  @apply absolute -top-6 -left-6 h-[50px] w-[50px] rounded-2xl bg-green-600 flex justify-center items-center
 }

 .icon_blue i {
  font-size: 1.5rem;
 }

 .icon_red i {
  font-size: 1.5rem;
 }

 .icon_yellow i {
  font-size: 1.5rem;
 }

 .Main_title {
  font-family: 'Neonderthaw', sans-serif;
 }

 .Main_title_black {
  font-family: 'Neonderthaw', sans-serif;
 }

 .Main_title_shadow1 {
  filter: drop-shadow(0px 0px 4px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 4px #ffffff);
  font-family: 'Neonderthaw', sans-serif;
 }
 .Main_title_shadow2 {
  filter: drop-shadow(10px 0px 20px #9d48ff);
  -webkit-filter: drop-shadow(10px 0px 20px #9d48ff);
  font-family: 'Neonderthaw', sans-serif;
 }
 .Main_title_shadow3 {
  filter: drop-shadow(10px 10px 50px #a85cff);
  -webkit-filter: drop-shadow(10px 10px 50px #a85cff);
  font-family: 'Neonderthaw', sans-serif;
 }
 .Main_title_shadow4 {
  filter: drop-shadow(10px 10px 120px #a85cff);
  -webkit-filter: drop-shadow(10px 10px 120px #a85cff);
  font-family: 'Neonderthaw', sans-serif;
 }

 .loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex: 1;
}

.loader i
{
  opacity: 0.2;
  font-size: 3rem;
  animation: spin 1s linear infinite;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}