@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
  }
  
  body {
    color: white;
    width: 100dvw;
    overflow-x: hidden;
    height: 100%;
    background: black;
    border-color: #3b3b3b;
    user-select: none;
  }

.screen-max-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width: 1120px;
  }

.blueClass {
  /*background-image: linear-gradient(to right, #3090ff, #5749f6);
  background-clip: text;*/
  color: white;
  @apply absolute top-8 left-48 z-20 drop-shadow-lg p-4
}

.redClass {
  /*background-image: linear-gradient(to right, #ff54a4, #e41274);
  background-clip: text;*/
  color: white;
  @apply absolute top-8 right-[40rem] z-20 drop-shadow-lg p-4
}

.yellowClass {
  /*background-image: linear-gradient(to right, #FFB000, #FFEF00);
  background-clip: text;*/
  color: white;
  @apply absolute top-8 left-48 z-20 drop-shadow-lg p-4
}

.personblock {
  @apply flex justify-center relative overflow-hidden items-start 2xl:w-[180px] 2xl:h-[90px] md:w-[150px] md:h-[80px] rounded-full bg-black cursor-pointer
}

.person-selector::-webkit-scrollbar{
  display: none;
  
}

.bg_image_blue {
  background-image: url('../assets/images/interior1v2WEBP.webp');
  background-size: cover;
  background-blend-mode: darken;
  backdrop-filter: blur(80px);
  @apply flex items-center flex-col justify-center w-screen min-h-screen h-fit 
}

.bg_image_red {
  background-image: url('../assets/images/interior1v2WEBP.webp');
  background-size: cover;
  background-blend-mode: darken;
  @apply flex items-center flex-col justify-center w-screen min-h-screen h-fit 
}

.bg_image_yellow {
  background-image: url('../assets/images/interior1v2WEBP.webp');
  background-size: cover;
  background-blend-mode: darken;
  @apply flex items-center flex-col justify-center w-screen min-h-screen h-fit 
}

.blue_first_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
@apply flex items-center justify-center top-48 left-28 absolute w-[150px] h-[50px] scale-75 bg-white rounded-2xl p-2
}

.blue_second_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
@apply flex items-center justify-center w-[230px] h-[70px] bg-white rounded-2xl  p-2
}

.blue_second_message_cont {
  @apply bottom-56 left-72 absolute w-[230px] h-[70px] z-40
}

.blue_third_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
@apply flex items-center justify-center bottom-32 right-32 absolute w-[150px] h-[50px] bg-white rounded-2xl  p-2
}

.red_first_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center top-64 right-36 absolute w-[150px] h-[50px] bg-red-400 rounded-2xl  p-2
}

.red_second_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center w-[230px] h-[70px] bg-red-400 rounded-2xl  p-2 z-40
}

.red_second_message_cont {
  @apply bottom-40 right-8 absolute w-[230px] h-[70px] z-40
}

.red_third_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center bottom-44 left-36 absolute w-[150px] h-[50px] bg-red-400 rounded-2xl p-2
}

.yellow_first_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center bottom-48 left-36 absolute w-[150px] h-[50px] bg-yellow-400 rounded-2xl p-2
}

.yellow_second_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center w-[230px] h-[70px] bg-yellow-400 rounded-2xl p-2 z-40
}

.yellow_second_message_cont {
  @apply top-24 right-20 absolute w-[230px] h-[70px] z-40
}

.yellow_third_message {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply flex items-center justify-center top-48 left-24 absolute w-[150px] h-[50px] bg-yellow-400 rounded-2xl p-2
}

.blue_small_image {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
 @apply absolute md:scale-75 lg:scale-90 xl:scale-95 2xl:scale-100 md:flex hidden 2xl:top-16 2xl:right-12 md:top-8 md:right-6 w-[230px] h-[300px] rounded-2xl items-end z-30
}

.red_small_image {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply absolute md:scale-75 lg:scale-90 xl:scale-95 2xl:scale-100 md:flex hidden 2xl:top-16 2xl:left-6 md:top-8 md:right-6 w-[230px] h-[300px] rounded-2xl items-end z-30
 }

 .yellow_small_image {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
  @apply absolute md:scale-75 lg:scale-90 xl:scale-95 2xl:scale-100 md:flex hidden 2xl:bottom-24 2xl:right-8 md:bottom-8 md:right-6 w-[230px] h-[300px] rounded-2xl items-end z-30
 }

 #big_picture {
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
 }

 #instagram_image{
  filter: drop-shadow(5px 5px 5px #000000c5);
  -webkit-filter: drop-shadow(5px 5px 5px #000000c5);
 }

 .opacity_low {
  @apply object-contain max-w-full opacity-50
 }

 .opacity_high {
  @apply object-contain max-w-full opacity-100
 }